/Componentes
*.env
definicion_log.csv
__pycache__/
venv/
.venv/
/figuras
/figuras_globales
/Data/NL
/Data/Tests
tablasLatex.tex
/figuras_por_iteracion
Data/backup
Data/*.jsonl
Data/problemas-K.jsonl
Data/dataStruct-SR-K.jsonl
